<br><br><br>
<h2>Checkout</h2>

<div class="container-fluid">
    <div class="tab-pane">
        <div class="col-50">
          <div class="container">
            <form (ngSubmit)="addAddress(f)" #f="ngForm" autocomplete="off">

              <div class="row">
                <div class="col-50">
                  <h3>Billing Address</h3>

                  <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                  <input type="text" id="fname" minlength="4" [ngModel] name="FullName" placeholder="Full Name" required #fullname=ngModel>

                  <div *ngIf=fullname.touched>
                    <div *ngIf='fullname.invalid' #val.touched>

                        <div *ngIf='fullname.errors.required' #val.touched style="color: red;">
                          Full Name cannot be Blank!
                        </div>

                      </div>
                </div>


                  <label for="email"><i class="fa fa-envelope"></i> User Name</label>
                  <input type="email" id="email"  [(ngModel)]="Email" name="Email" placeholder="Email" required #mailval=ngModel>

                 <div *ngIf=mailval.touched>
                  <div *ngIf=mailval.invalid style="color: red;">
                    <div *ngIf=mailval.errors.required>
                        Email cant be blank!
                    </div>

                    <div *ngIf=mailval.errors.email>
                      not a valid mail
                  </div>
                  </div>
                 </div>



                  <!-- <label for="userId"><i class="fa fa-envelope"></i> User Id</label> -->
                  <input type="hidden" id="CustomerId"  [(ngModel)]="userId" readonly name="CustomerId" placeholder="Email">

                  <label for="adr"><i class="fas fa-address-card"></i> Address</label>
                  <input type="text" id="adr"[ngModel] minlength="4" name="StreetAddress" placeholder="Address" required #address=ngModel>

                  <div *ngIf=address.touched>
                    <div *ngIf=address.invalid style="color: red;">
                      <div *ngIf=address.errors.required>
                          Address can't be blank!
                      </div>
                    </div>
                  </div>




                  <label for="city"><i class="fa fa-building"></i> City</label>
                  <input type="text" id="city" [ngModel] name="City" placeholder="City" required #city=ngModel>

                  <div *ngIf=city.touched>
                    <div *ngIf=city.invalid style="color: red;">
                      <div *ngIf=city.errors.required>
                          City can't be blank!
                      </div>
                    </div>
                  </div>



                  <label for="city"><i class="fa fa-building"></i> Address Type</label>
                  <span>Home <input type="radio" value="Home" id="adr" [ngModel] name="AddressType" placeholder="Address Type" required #Home=ngModel></span> &nbsp; &nbsp;

                 <div *ngIf=Home.touched>
                  <div *ngIf=Home.invalid style="color: red;">
                    <div *ngIf=Home.errors.required>
                        Required!
                    </div>
                  </div>
                 </div>

                  <span>Office <input type="radio" value="Office" id="adr" [ngModel] name="AddressType" placeholder="Address Type" required #Home=ngModel></span>

                 <div *ngIf=Home.touched>
                  <div *ngIf=Home.invalid style="color: red;">
                    <div *ngIf=Home.errors.required>
                        Required!
                    </div>
                  </div>

                 </div>


                  <div class="row">
                    <div class="col-50">
                      <label for="state">State</label>
                      <input type="text" id="state" [ngModel] name="State" placeholder="State" required #state=ngModel>

                      <div *ngIf=state.touched>
                        <div *ngIf=state.invalid style="color: red;">
                          <div *ngIf=state.errors.required>
                              Required!
                          </div>
                        </div>

                       </div>
                    </div>
                    <div class="col-50">
                      <label for="zip">Zip</label>
                      <input type="text" id="zip"  [ngModel] name="PinCode" placeholder="Zip" required #zip=ngModel>

                      <div *ngIf=zip.touched>
                        <div *ngIf=zip.invalid style="color: red;">
                          <div *ngIf=zip.errors.required>
                              Required!
                          </div>
                        </div>

                       </div>
                    </div>
                  </div>
                </div>



              </div>

              <input type="submit" value="Continue to checkout" [disabled]='!f.valid' class="btn btn-primary">
            </form>
          </div>
        </div>
        <div class="col-25">
          <div class="container">
            <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{cart.length}}</b></span></h4>

            <div *ngFor='let c of cart'>
                <p><a >{{c.ProductName}}</a> <span class="price">{{c.Price | currency :'INR':'symbol' }}</span></p>
            </div>


            <!-- <p><a href="#">Product 2</a> <span class="price">$5</span></p>
            <p><a href="#">Product 3</a> <span class="price">$8</span></p>
            <p><a href="#">Product 4</a> <span class="price">$2</span></p> -->
            <hr>
            <p>Total <span class="price" style="color:black"><b>{{total | currency :'INR':'symbol'}}</b></span></p>
          </div>
        </div>
      </div>
</div>

<br><br>
