<header >
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container-fluid">
          <a class="navbar-brand js-scroll-trigger" routerLink='/home'  style="color: #007bff;">Majestic</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2"  [(ngModel)]='_listFilter' name="_listFilter" type="search" id='search' placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="onSearch(_listFilter)" >Search</button>
                    </form>
              </li>
              <li class="nav-item">
                  <a *ngIf='token' class="nav-link js-scroll-trigger" href="#services"><strong>Welcome! </strong></a>

              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="['/cart']">Cart <span class="badge badge-dark" *ngIf='cart'>{{cart}}</span></a>
              </li>
              <li class="nav-item">
                <a *ngIf='token' class="btn btn-primary my-2 my-sm-0" (click)='logOut()'style="color: white;">Logout</a>
                <a *ngIf="token === null" routerLink='/user/login' class="btn btn-primary my-2 my-sm-0" style="color: white;" >Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</header>
