<br><br><br>
<section class="container-fluid">
  <h3 style="color: white;">Products</h3>
  <hr>
<button class="btn btn-light" routerLink='/addproduct'>Add Product +</button>
<div class="container mx-auto" >

<br>

  <div class="row" >
    <div class="col-md-3 "  *ngFor="let product of products">
      <br>
      <div class="card" style="width: 15rem;" >
          <a [routerLink]="['/products/' + product.Id]"> <img src={{product.ProductImage}} class="img-square-wrapper img-fluid mx-auto d-block" style="height: 200px;" alt="..."  > </a>
          <div class="card-body mx-auto">
              <span> <a [routerLink]="['/products/' + product.Id]"> {{product?.ProductName}} </a></span><br>
        <span class="">Price {{product.Price | currency:'INR':'symbol'}}</span> <br>
        <a routerLink="/updateproduct/{{product.Id}}" class="btn btn-outline-warning btn-sm">Update</a> &nbsp; &nbsp;
        <button class="btn btn-danger btn-sm"  (click)="deleteProduct(product.Id)" >Delete</button>

          </div>

        </div>


    </div>
  </div>
</div>
<br>

</section>


