
<br><br><br>
<section class="container-fluid">
  <!-- <strong (click)="getDate()" >The DAte is: {{date |  date:'medium'}}</strong> -->

  <img style="height: 350px" class="d-block w-100" src="https://alwahda-mall.com/media/28982/cis_campaign-image_1400-x-350-px-min.jpg?anchor=center&mode=crop&width=1400&height=350&rnd=131354849860000000" alt="First slide">

<div class="container mx-auto" >

<br>

  <div class="row" >
    <div class="col-md-3"  *ngFor="let product of products | filter:productFilter">
      <br>
      <div class="card  mx-auto d-block" style="width: 15rem;" >
          <a [routerLink]="['/products/' + product.Id]"> <img src={{product.ProductImage}} class="img-square-wrapper img-fluid mx-auto d-block" style="height: 200px;" alt="..."  > </a>
          <div class="card-body ">
              <span >  <a [routerLink]="['/products/' + product.Id]"> {{product?.ProductName}} </a></span><br>

              <span >Price {{product.Price | currency:'INR':'symbol'}}</span> <br>

              <span class='mx-auto d-block'>Quantity <input type="number" value=1  name="quantity" min="1" max="15" [(ngModel)]="product.Quantity" value={{product.Quantity}}></span> <br>

              <button class="btn btn-primary btn-sm mx-auto d-block"  (click)="addToTheCart(product.Id,product.ProductImage, product.ProductName,product.Price,product.Quantity ,product.Quantity*product.Price, userId)" >Add to Cart</button>

          </div>

        </div>


    </div>
  </div>
</div>
<br>

</section>


